<!DOCTYPE html>
<html lang='en' ng-app='app'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :angular_application %>
    <title>Title</title>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>
